@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">EJournal - Boro na Treta</h1>
    <p>Music: <a href="https://www.youtube.com/watch?v=Fw-3_8WpKPY" target="_blank">Nqma kak da spra!</a></p>
</div>
